@import "colors.css";

body {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    background-color: var(--bg-shade-1);
    font-family: Consolas, sans-serif;
    margin: 0;
    color: var(--text-color);
    gap: 10px;

    >* {
        width: calc(100vw - clamp(0px, 100vw - (500px + 50vw), 33vw));
    }
}

.header {
    width: 100%;
    background-color: var(--theme-shade-1);
    color: var(--text-color-white);

    .container {
        padding-left: 20px;
        /* Space before the first item */
        padding-right: 20px;
        /* Space after the last item */
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
        align-items: center;
        gap: 20px;
        font-size: large;

        h1 {
            flex-grow: 1;
            text-align: left;
            font-size: xx-large;
            user-select: none;
        }

        a:link {
            text-decoration: none;
            color: inherit;
        }

        a:visited {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            text-decoration: underline;
        }
    }
}

hr {
    margin: 0;
    border-left: 0;
    border-right: 0;
}

.showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    pre {
        margin: 0;
        min-width: 400px;
        counter-reset: line;

        >* {
            border-radius: 8px;
        }
    }
}