[package]
name = "device-driver"
version = "1.0.0-rc.0"
authors = ["Dion Dokter <diondokter@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/diondokter/device-driver"
repository = "https://github.com/diondokter/device-driver"
keywords = ["no_std", "device", "driver", "toolkit"]
categories = ["embedded", "hardware-support", "no-std::no-alloc", "no-std"]
description = "A toolkit to write better device drivers, faster"
readme = "README.md"

[dependencies]
device-driver-macros = { version = "=1.0.0-rc.0", path = "../macros", default-features = false, optional = true }

bitvec = { version = "1.0.1", default-features = false }
embedded-io = "0.6.1"
embedded-io-async = "0.6.1"
defmt = { version = "0.3", optional = true }

[features]
default = ["dsl", "json", "yaml", "toml"]
dsl = ["_macros", "device-driver-macros/dsl"]
json = ["_macros", "device-driver-macros/json"]
yaml = ["_macros", "device-driver-macros/yaml"]
toml = ["_macros", "device-driver-macros/toml"]
defmt-03 = ["dep:defmt", "embedded-io/defmt-03"]

_macros = ["dep:device-driver-macros"]
