<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{{ page_type }} {{ title }}</title>
<style>
    html {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    table {
        margin-bottom: 1em;
    }

    table,
    th,
    td {
        border: 1px solid;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
    }
</style>
<meta name="color-scheme" content="dark light" />