[workspace]
resolver = "2"
members = [
    "device-driver",
    "generation",
    "macros",
    "dd-manifest-tree",
    "cli",
    "tests",
]

package.version = "1.0.4"
package.authors = ["Dion Dokter <diondokter@gmail.com>"]
package.license = "MIT OR Apache-2.0"
package.homepage = "https://github.com/diondokter/device-driver"
package.repository = "https://github.com/diondokter/device-driver"
package.edition = "2024"
