a 1

device {

}

device 1 {

}

device Foo {

}

device Foo abc def {

}

device Foo {
    blah 123
}

device Foo {
    default-register-access RW
    default-register-access RO
}

device Foo {
    default-register-access Blah
    default-buffer-access
    default-field-access RW RO WO
}

device Foo {
    default-register-access value=RW
    register-address-type u8
    command-address-type 16
    default-bit-order msb0
    defmt-feature lol
    name-word-boundaries aA:1a
}

device Foo {
    register-address-type u8

    registah
    register
    register foo {
        
    }
    register foo {
        address
        address a
        address 1
        address 2
        repeat
        reset-value 0x2000_0000
    }
    register foo {
        address -1
        repeat count=18_446_744_073_709_551_616 stride=1
        allow-address-overlap #true
        reset-value 0x100 0x00
    }
    register foo0 {
        address 0
        fields {

        }
    }
    register foo1 {
        address 1
        fields size-bits=-1 {

        }
    }
    register foo2 {
        address 2
        fields size-bits=0x1_0000_0000 byte-order=BLA byte-order=BE bit-order=gkd bit-order=msb0 allow-bit-overlap allow-bit-overlap=#false {

        }
    }
    register foo3 {
        address 3
        fields size-bits=0x1_0000_0000 byte-order=1 bit-order=#true allow-bit-overlap  {

        }
    }
    /// Hello!
    register foo4 {
        address 4
        fields size-bits=0 {

        }
    }
}
