{% decl block_generics %}
{% if block.root %}
    {% let block_generics = "<I>" %}
{% else %}
    {% let block_generics = "<'i, I>" %}
{% endif %}

{{ self::description_to_docstring(block.description) }}
#[derive(Debug)]
pub struct {{ block.name.to_case(Case::Pascal) }}{{block_generics}} {
    {% if block.root %}
    #[doc(hidden)]
    interface: I,
    {% else %}
    #[doc(hidden)]
    interface: &'i mut I,
    {% endif %}
    #[doc(hidden)]
    base_address: {{device.internal_address_type}},
}

impl{{block_generics}} {{ block.name.to_case(Case::Pascal) }}{{block_generics}} {
    {% if block.root %}
    /// Create a new instance of the device, using the interface
    pub const fn new(interface: I) -> Self {
        Self { interface, base_address: 0 }
    }
    {% else %}
    /// Create a new instance of the block based on device interface
    #[doc(hidden)]
    fn new(interface: &'i mut I, base_address: {{device.internal_address_type}}) -> Self {
        Self { interface, base_address: base_address }
    }
    {% endif %}

    {% for method in block.methods %}
        {% match method.method_type %}
            {% when BlockMethodType::Block { name } %}
                {% include "methods/block.rs.j2" %}
            {% when BlockMethodType::Register { field_set_name, access, reset_value } %}
                {% include "methods/register.rs.j2" %}
            {% when BlockMethodType::Command { field_set_name_in, field_set_name_out } %}
                {% include "methods/command.rs.j2" %}
            {% when BlockMethodType::Buffer { access } %}
                {% include "methods/buffer.rs.j2" %}
        {% endmatch %}
    {% endfor %}
}

impl{{block_generics}} ::device_driver::Block for {{ block.name.to_case(Case::Pascal) }}{{block_generics}} {
    type Interface = I;
    type RegisterAddressType = {{block.register_address_type}};
    type CommandAddressType = {{block.command_address_type}};
    type BufferAddressType = {{block.buffer_address_type}};

    fn interface(&mut self) -> &mut Self::Interface {
        {% if block.root %}
        &mut self.interface
        {% else %}
        self.interface
        {% endif %}
    }
}
