:root {
    --theme-shade-1: #960018;
    --theme-shade-2: #df8191;
    --theme-shade-3: #dd9ea9;
    --theme-shade-4: #e7cfd4;
    --bg-shade-3: #cccccc;
    --bg-shade-2: #f3f3f3;
    --bg-shade-1: #ffffff;
    --text-color: #121212;

    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-shade-1: #960018;
        --theme-shade-2: #41121a;
        --theme-shade-3: #46272c;
        --theme-shade-4: #372327;
        --bg-shade-3: #2a2a2a;
        --bg-shade-2: #181818;
        --bg-shade-1: #1f1f1f;
        --text-color: #dcdcdc;
    }
}
