body {
    background-color: #3c3c3c;
    margin: 0px;
    color: #dcdcdc;
    font-family: Consolas, sans-serif;
    display: grid;
    height: 100%;
    grid-template-rows: auto minmax(0, 100%) 200px;
    overflow: hidden;
}

.editor-container {
    width: 100%;
    background-color: #1e1e1e;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 1fr 5px;
}

#code-editor,
#output-editor {
    margin-top: 5px;
    min-width: 0;
    min-height: 0;
}

.separator {
    background-color: black;
    cursor: grab;
    padding: 0px;
    margin: 0px;
    transition: 0.1s;
}

.separator:hover {
    background-color: #626262;
}

.separator:active {
    cursor: grabbing;
}


#horizontal-separator {
    grid-column: 1 / 4;
}

.diagnostics-window {
    width: 100%;
    overflow: auto;
}

#diagnostics {
    display: block;
}

pre {
    width: 100%;
    white-space: pre-wrap;
}

code {
    font-family: Consolas, monospace;
}

.diagnostics-window a {
    color: #960018;
}


#header {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #960018;
    user-select: none;
}

#header li {
    background-color: #41121a;
    /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #dcdcdc;
    border-radius: 4px;
    transition-duration: 0.1s;
    cursor: pointer;
}

#header li:hover {
    background-color: #46272c;
}

#header li:active {
    background-color: #372327;
}

#header li a {
    display: block;
    padding: 10px 32px;
}

#header a {
    color: inherit;
    text-decoration: inherit;
}