body {
    background-color: #181818;
    margin: 0px;
    color: #dcdcdc;
    font-family: Consolas, sans-serif;
    display: grid;
    height: 100%;
    grid-template-rows: auto minmax(0, 100%) 33.333%;
    overflow: hidden;
}

#editor-container {
    width: 100%;
    background-color: #1f1f1f;
    clear: both;
    display: grid;
    grid-template-columns: calc(50% - 2.5px) 5px auto;
    grid-template-rows: 1fr 5px;
}

#code-editor,
#output-editor {
    margin-top: 5px;
    min-width: 0;
    min-height: 0;
}

.separator {
    background-color: #2a2a2a;
    padding: 0px;
    margin: 0px;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.separator:hover {
    transition-delay: 0.2s;
    background-color: #960018;
}


#vertical-separator {
    grid-column: 1 / 4;
    cursor: ns-resize;
}
#horizontal-separator {
    cursor: ew-resize;
}

.diagnostics-window {
    overflow: auto;
    padding: 10px;
}

#diagnostics {
    display: block;
}

pre {
    width: 100%;
    white-space: pre-wrap;
    margin: 0px;
}

code {
    font-family: Consolas, monospace;
}

.diagnostics-window a {
    color: inherit;
    text-decoration: none;
}

.diagnostics-window a:hover {
    text-decoration: underline;
}


#header {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #960018;
    user-select: none;
}

#header li {
    background-color: #41121a;
    /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #dcdcdc;
    border-radius: 4px;
    transition-duration: 0.1s;
    cursor: pointer;
}

#header li:hover {
    background-color: #46272c;
}

#header li:active {
    background-color: #372327;
}

#header li a {
    display: block;
    padding: 10px 32px;
}

#header a {
    color: inherit;
    text-decoration: inherit;
}