{% for block in device.blocks %}
    {% include "block.rs.j2" %}
{% endfor %}

{% for field_set in device.field_sets %}
    {% include "fieldset.rs.j2" %}
{% endfor %}

{% for enum_value in device.enums %}
    {% include "enums.rs.j2" %}
{% endfor %}
